# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Source files does not include in build
src
src/*

# Dist and dependents
dist
node_modules
public
*.local
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.eslintignore
