# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Build not in git on dev branch
build

# Dist and dependents (it's only for manual)
dist
node_modules
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.eslintignore
