# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules

# Dist

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.eslintignore
