$defaultThemeBackground: #202020;
$defaultBackgroundFront: #ffffff;

$defaultThemeText: #ffffff;
$defaultThemeHintText: #7f8c97;
$defaultThemeElementsText: #fff;

$defaultThemeAccent: #50a7ea;
$defaultThemeAccentDark: #5a6edc;
$defaultThemeAccentLight: #6ea0e6;

$defaultThemeOrange: #e64646;
$defaultThemeRed: #cc2929;
$defaultThemeGreen: #4ecc5e;
$defaultThemeGray: #b0b9c2;
