$max-gap: 24px;
$base-gap: 12px;
$middle-gap: 8px;
$min-gap: 5px;

$baseBorderRadius: 7px;


$zIndexMaximum: 10000;
$zIndexTop: 1000;
$zIndexMiddle: 500;

$small-screens: 410px;
$max-mobile-width: 640px;
