@import '@Commn/colors';
@import '@Commn/sizes';

.icon-container {
	display: flex;

	.background-icon-plate {
		width: 100%;
		height: 100%;
		border-radius: $baseBorderRadius;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			max-width: 100%;
			max-height: inherit;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
