@import '@Commn/colors';
@import '@Commn/sizes';

.teleaps-custom-checkbox {
	display: flex;
	text-align: center;

	.custom-checkbox { /* Скрываем стандартный чебокс */
		appearance: none;
		display: none;
		line-height: 20px;
	}

	.custom-checkbox+label {
		display: inline-flex;
		align-items: center;
		user-select: none;
		cursor: pointer;
		line-height: 20px;
	}

	&.no-text .custom-checkbox+label::before {
		margin-right: 0;
	}

	&.rounded .custom-checkbox+label::before {
		border-radius: 50%;
	}

	.custom-checkbox+label::before {
		content: '';
		margin-right: $base-gap;
		display: inline-block;
		flex-shrink: 0;
		flex-grow: 0;
		border: 1px solid $defaultThemeHintText;
		border-radius: 4px;
		background: none;
		font-size: 20px;
		line-height: 20px;
		cursor: pointer;
		width: 20px;
		height: 20px;
	}

	.custom-checkbox:checked+label::before {
		width: 20px;
		height: 20px;
		line-height: 20px;
		content: '\2713\0020';
		color: #fff;
		background-color: $defaultThemeAccent;
		border-color: transparent;
	}
}
