@import '@Commn/colors';
@import '@Commn/sizes';

.custom-button {
	padding: $middle-gap;
	max-height: 48px;
	border-radius: 4px;
	cursor: pointer;
	white-space: break-spaces;
	font-style: normal;
	font-family: "Roboto Bold";
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $defaultThemeAccent;
	color: $defaultThemeElementsText;
	background: $defaultThemeAccent;

	&:hover {
		border-color: $defaultThemeElementsText;
	}

	&:disabled {
		opacity: 0.3;
	}

	&.outline {
		background: none;
		box-shadow: none;
		color: $defaultThemeAccent;
	}

	.button-icon {
		display: inline-flex;
		max-height: inherit;
		margin-right: $base-gap;

		svg {
			max-height: 100%;
		}
	}
}
