@import '@Commn/colors';
@import '@Commn/sizes';

.teleaps-dots-slider {
  display: flex;
  height: 11px;

  padding-top: $max-gap;
  padding-bottom: $middle-gap;

  >div {
    flex-grow: 1;
    display: flex;
    align-items: center;

    &:last-child {
      flex-grow: 0;
    }
  }

  .dots-slider-point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 4px;
    filter: grayscale(50%);
    background: $defaultThemeHintText;

    &.active-dot {
      filter: none;

      background: $defaultThemeAccent;
    }

    &.current-dot {
      width: 11px;
      height: 11px;

      .dots-slider-caption {
        bottom: 24px;
        left: 0px;
      }
    }

    .dots-slider-caption {
      font-size: 12px;
      line-height: 14px;
      position: relative;
      bottom: 26px;
      color: $defaultThemeHintText;
      user-select: none;
      width: 20px;
      text-align: left;
    }
  }

  .dots-slider-line {
    height: 2px;
    flex-grow: 1;
    filter: grayscale(70%);
    background: $defaultThemeHintText;

    &.active-line {
      filter: none;
      background: $defaultThemeAccent;
    }
  }
}
