@import '@Commn/colors';
@import '@Commn/sizes';

.teleuiamount-input {
	min-height: $max-gap;
	max-width: 100%;
	padding-left: 0;

	&.unacceptable {
		input {
			color: $defaultThemeRed;
		}
	}

	.amount-input-main-row {
		display: flex;
		align-items: baseline;

		input {
			font-family: Roboto;
			font-size: 36px;
			font-weight: 500;
			background: none;
			border: none;
			margin: 0;
			padding: 0;
			line-height: 20px;
			max-width: 100% !important;

			&[type="number"]::-webkit-outer-spin-button,
			&[type="number"]::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}

			&[type='number'],
			&[type="number"]:hover,
			&[type="number"]:focus {
					appearance: none;
					-moz-appearance: textfield;
			}

			&:focus {
				outline: none;
			}

			::placeholder {
			  color: blue;
			  font-size: 26px;
			}
		}

		.amount-input-label {
			color: $defaultThemeHintText;
			margin-right: $min-gap;
			display: inline-flex;
			align-items: flex-end;
			user-select: none;
		}

		.amount-input-units {
			display: flex;
			align-items: flex-end;
			color: $defaultThemeHintText;
			user-select: none;
		}
	}

	.amount-input-underline {
		height: 1px;
		margin-top: $middle-gap;
		border-bottom: 1px solid $defaultThemeHintText;
	}
}
